
body { 
    text-align: center; 
    font-family: Arial, sans-serif; 
    background: white; 
}


.photostrip { 
    width: 320px;
    margin: auto;
    padding: 10px;
    background: white;
    border: 2px solid black;
    display: flex;
    flex-direction: column;  
    align-items: center;
}

.photostrip img { 
    width: 100%;
    margin-bottom: 5px;
    transform: scaleX(-1);
}

h1 { 
    margin: 10px;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    text-transform: lowercase;
    text-align: center;
}

button { 
    background: white;
    box-shadow: 1px 1px 1px 1px black;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 20px; 
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

button:hover{
    transform: scale(1.1);
    background: rgb(251, 248, 248);
}